<!-- This is our splash/home page index -->
@{
  Layout = "_Layout"; 
}
  <h1>Welcome to the Vendor Order Tracker!</h1>
  <h1>Begin tracking your Vendors and Orders here.</h1>
  <h3><a href='/vendors'>View vendors</a></h3>
  <h3><a href='/orders/new'>Add a new order</a></h3>